@page "/"

<PageTitle>Home</PageTitle>

<h1>Proof-of-concept</h1>

This is the proof-of-concept for the Bachelor's thesis 'Optimization of AI Integration in Web Applications'.<br/> This PoC aims to prove the Hypothesis that we can integrate AI in web applications using some of the technologies mentioned in the thesis.

<SurveyPrompt Title="Navigate to the following pages to test some features" />
