<div class="alert alert-secondary mt-4">
    <strong>@Title</strong>
    
    <MudList Dense>
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconSize="Size.Medium"><MudLink Href="llm" Color="Color.Info">Large Language Model</MudLink></MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight" IconSize="Size.Medium"><MudLink Href="cnn" Color="Color.Info">Image Classifier</MudLink></MudListItem>
    </MudList>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
